body{background-color: #f0e4ed}
p {
  font-family: "Mali", cursive;
  font-weight: 400;
  font-style: normal;
}

a {
    font-family: "Mali", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
h2 {
    font-family: "Mali", cursive;
    font-weight: 600;
    font-style: normal;
  }

h3 {
    font-family: "Mali", cursive;
    font-weight: 500;
    font-style: normal;
  }
  